// Colors
$colors: (
	primary: #0094da,
	secondary: #fd0,
	positive: #44db5e,
	danger: #e93434,
	warning: #fa0,
	light: #fff,
	dark: #0f0e11
);

// Gray variants
// Try to work with these and not adding more

$gray-darker: #0f0e11 !default;
$gray-dark: #373a3c !default;
$gray: #55595c !default;
$gray-light: #888789 !default;
$gray-lighter: #939392 !default;
$gray-lightest: #f7f7f9 !default;

$grays: (
	darker: $gray-darker,
	dark: $gray-dark,
	normal: $gray,
	light: $gray-light,
	lighter: $gray-lighter,
	lightest: $gray-lightest
);

// Font Colors
$base-font-color: map_get($grays, dark);
$action-color: map_get($colors, primary);

// Button Colors
$base-button-color: $gray-light;
$primary-button-color: $action-color;

// Border Colors
$base-border-color: $gray-lighter;

// Background Colors
$base-background-color: #fff;
$secondary-background-color: tint($base-border-color, 75%);
