@import '../../../node_modules/bourbon-neat/app/assets/stylesheets/neat';

// Neat Overrides
$column: 70px;
$gutter: 25px;
$grid-columns: 12;
$max-width: 1140px;

// Neat Breakpoints
$sm-width: 480px;
$md-width: 640px;
$lg-width: 960px;
$xl-width: $max-width;

/* Max widths of the various breakpoints */
$xs-max-width: ($sm-width - 1);
$sm-max-width: ($md-width - 1);
$md-max-width: ($lg-width - 1);
$lg-max-width: ($xl-width - 1);

$sm-up: new-breakpoint(min-width $sm-width);
$md-up: new-breakpoint(min-width $md-width);
$lg-up: new-breakpoint(min-width $lg-width);
$xl-up: new-breakpoint(min-width $xl-width);

$xs-down: new-breakpoint(max-width $xs-max-width);
$sm-down: new-breakpoint(max-width $sm-max-width);
$md-down: new-breakpoint(max-width $md-max-width);
$lg-down: new-breakpoint(max-width $lg-max-width);