// Typography
$font-regular: Arial, sans-serif;
$font-bold: Arial, sans-serif;

$base-font-family: $font-regular;
$heading-font-family: $font-bold;

// Font Sizes
$base-font-size: 1rem;
$large-font-size: 1.125rem;
$small-font-size: 0.875rem;
$smaller-font-size: 0.75rem;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;
