.align-left {
	float: left;
	margin-right: $small-spacing;
	margin-bottom: $small-spacing;
}

.align-right {
	float: right;
	margin-left: $small-spacing;
	margin-bottom: $small-spacing;
}

.clear {
	clear: both;
}