/**
 * Generic button styles
 */

.btn-cta {
	@include btn;
	@include btn-primary;
}

.btn-ghost {
	@include btn;
	@include btn-ghost;
}

.btn-round {
	@include btn;
	@include btn-ghost;
	@include btn-round;
}

.btn-negative {
	border-radius: 17px;
	width: 34px;
	height: 34px;
	border-color: map_get($colors, danger);
	color: map_get($colors, danger);
	fill: map_get($colors, danger);
	background: #fff;
}